<div class="center hero-unit">
  <h2>Type a Pokemon to get started</h2>
  <%= form_tag pokemons_path, class: "form-inline", method: "get" do %>
    <div id="search_container" class="form-group">
      <%= text_field_tag :search, params[:search], id: "search_bar_home", class: "form-control" %>
      <%= submit_tag "Search", name: nil, id: "search_btn_home", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>