@import "bootstrap";

body {
	background: url('/assets/Pokemon_wallpaper-8');	
	padding-top: 70px;
}

.center {
	text-align: center;
}

label {
	color: white;
}

h2 {
	color: white;
}

i {
	color: gray;
}
